<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <a th:href="@{/toAdd}">新增</a>
      <table border="1">
          <tr>
              <td>userId</td>
              <td>username</td>
              <td>userpassword</td>
              <td>userbir</td>
              <td>userprice</td>
              <td>操作</td>
          </tr>
          <tr th:each="u:${list}">
              <td th:text="${u.userid}">userId</td>
              <td th:text="${u.username}">username</td>
              <td th:text="${u.userpassword}">userpassword</td>
              <td th:text="${u.userbir}">userbir</td>
              <td th:text="${u.userprice}">userprice</td>
              <td>
                  
              </td>

          </tr>


      </table>
</body>
</html>